<footer>
    <div class="footer_container">
        <div class="footer_column">
            <div class="useful_links">ONLINE SHOPPING</div>
            <div class="shopping_content"><a class="shopping_content" href="#">Men</a></div>
            <div class="shopping_content"><a class="shopping_content" href="#">Women</a></div>
            <div class="shopping_content"><a class="shopping_content" href="#">Kids</a></div>
            <div class="shopping_content"><a class="shopping_content" href="#">Home & Living</a></div>
            <div class="shopping_content"><a class="shopping_content" href="#">Beauty</a></div>
            <div class="shopping_content"><a class="shopping_content" href="#">Studio </a></div>
            <div class="shopping_content"><a class="shopping_content" href="#">Gift Cards</a></div>
            <div class="shopping_content"><a class="shopping_content" href="#">Coro Insider</a></div>
        
            <div class="useful_links">USEFUL LINKS</div>
            <div class="links_content"><a class="shopping_content" href="#">Blog</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Careers</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Site map</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Home & Living</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Corporate Information</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Whitehat </a></div>
            <div class="links_content"><a class="shopping_content" href="#">Cleartrip</a></div>
        </div>
        <div class="footer_column">
            <div class="useful_links">Customer Policies</div>
            <div class="links_content"><a class="shopping_content" href="#">Contact Us</a></div>
            <div class="links_content"><a class="shopping_content" href="#">FAQ</a></div>
            <div class="links_content"><a class="shopping_content" href="#">T&C</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Terms Of Use</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Track Orders</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Shipping </a></div>
            <div class="links_content"><a class="shopping_content" href="#">Cancellation</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Returns</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Privacy Policy</a></div>
            <div class="links_content"><a class="shopping_content" href="#">Grievance Officer</a></div>
        </div>
        <div class="footer_column">

            <div class="useful_links">EXPERIENCE APP ON MOBILE</div>
            <a href="" class="download_app"><img src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png" class="app" alt=""></a>
            <a href="" class="download_app"><img src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png" class="app" alt=""></a>

            <div class="useful_links">KEEP IN TOUCH</div>
            <a href="www.google.com" class="icon_box"><i class="fa-brands fa-facebook icons"></i></a>
            <a href="www.google.com" class="icon_box"><i class="fa-brands fa-twitter icons"></i></a>
            <a href="www.google.com" class="icon_box"><i class="fa-brands fa-youtube icons"></i></a>
            <a href="www.google.com" class="icon_box"><i class="fa-brands fa-square-instagram icons"></i></a>
        </div>
        <div class="footer_column">
            <div class="img_box">
                <img src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png" alt="" class="original_img">
                <div class="img_txt"><p class="bold_txt">100% ORIGINAL</p> guarantee for all products at coro.com</div>
            </div>
            <div class="img_box">
                <img src="https://assets.myntassets.com/assets/images/retaillabs/2023/5/22/becb1b16-86cc-4e78-bdc7-7801c17947831684737106127-Return-Window-image.png" alt="" class="original_img">
                <div class="img_txt"><p class="bold_txt">Return within 14days</p>of receiving your order</div>
            </div>
        </div>
        <div class="footer_column">
        </div>
    </div>
    <div class="copyright">
        © 2023 www.coro.com. All rights reserved. &nbsp; &nbsp; Made with ❤️ by Ritik
    </div>
</footer>