<section id="off-banner" class="section-m1">
    <h4>Repaire Services</h4>
    <h2>Up to 70% Off -  Accessories</h2>
    <a href="/categories/accesories"><button class="normal">Explore</button></a>
  </section>

  <section id="banners" class="section-p1">
    <div class="big-banners">
      <div class="big-banners-1">
        <h4>Women's Wear</h4>
        <h2> Upto 80% OFF</h2>
        <span>The best Collection is on sale at coro</span>
        <a href="/categories/women"><button class="banner-btn">Collection</button></a>
      </div>
      <div class="big-banners-2">
        <h4>Men' Wear</h4>
        <h2>Upto 70% OFF</h2>
        <span>The best classic dress is on sale at cara</span>
        <a href="/categories/men"><button class="banner-btn">Collection</button></a>
      </div>
    </div>
    <div class="small-banners">
      <div class="small-banners-1">
        <h2>SEASONAL SALE</h2>
        <h5>Winter Collection 50% Off</h5>
      </div>
      <div class="small-banners-2">
        <h2>NEW FOOTWEAR COLLECTION</h2>
        <h5>Spring/Summer 2022</h5>
      </div>
      <div class="small-banners-3">
        <h2>T-SHIRTS</h2>
        <h5>New Trendy Prints</h4>
      </div>
    </div>