<main>  
<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>save more coupons & up to 70% off!</p>
    <a href="#products"><button>Shop now</button></a>
</section>
<section id="features" class="section-p1">
    <div class="f-box">
      <img src="images/features/f1.png" alt="free shipping" />
      <h6>Free shipping</h6>
    </div>
    <div class="f-box">
      <img src="images/features/f2.png" alt="online order" />
      <h6>online order</h6>
    </div>
    <div class="f-box">
      <img src="images/features/f3.png" alt="save money" />
      <h6>save money</h6>
    </div>
    <div class="f-box">
      <img src="images/features/f4.png" alt="promotions" />
      <h6>promotions</h6>
    </div>
    <div class="f-box">
      <img src="images/features/f5.png" alt="happy sell" />
      <h6>happy sell</h6>
    </div>
    <div class="f-box">
      <img src="images/features/f6.png" alt="24/7 support" />
      <h6>24/7 support</h6>
    </div>
   
</section>