<% layout('layouts/boilerplate') %>  
<link rel="stylesheet" href="/css/about.css">
</head>
<body>
  
<%-include('../partials/navbar')%>
<%-include('../partials/flash')%>

  <section id="hero">
    <h2>#KnowUs</h2>
    <h5>Join our community and become a Plus member</h5>
  </section>

  <section id="about-head">
      <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/about/a6.jpg?raw=true" alt="">
      <div>
          <h2>Who We Are?</h2>
          <br>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem atque sunt quas mollitia rerum doloremque temporibus dolorum saepe perspiciatis qui animi voluptates tempora alias, ducimus omnis asperiores optio vero deserunt consectetur quasi neque exercitationem impedit ut! Odio dolorum ipsam sed. Odit, laborum! Atque enim corrupti voluptate ex nam ut. Necessitatibus quod repellat, quidem esse quaerat unde perferendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. In veniam ea sapiente vitae magni iusto soluta nobis cupiditate iste velit.</p>
          <br><br>
          <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, perferendis.</marquee>
      </div>
  </section>

  <section id="about-app" class="section-p1">
      <h1>Download Our <a href="#">App</a></h1>
      <div class="video">
          <video autoplay muted loop src="/images/1.mp4"></video>
      </div>
  </section>

  <section id="features" class="section-p1">
      <div class="f-box">
        <img src="images/features/f1.png" alt="free shipping" />
        <h6>Free shipping</h6>
      </div>
      <div class="f-box">
        <img src="images/features/f2.png" alt="online order" />
        <h6>online order</h6>
      </div>
      <div class="f-box">
        <img src="images/features/f3.png" alt="save money" />
        <h6>save money</h6>
      </div>
      <div class="f-box">
        <img src="images/features/f4.png" alt="promotions" />
        <h6>promotions</h6>
      </div>
      <div class="f-box">
        <img src="images/features/f5.png" alt="happy sell" />
        <h6>happy sell</h6>
      </div>
      <div class="f-box">
        <img src="images/features/f6.png" alt="24/7 support" />
        <h6>24/7 support</h6>
      </div>
    </section>
    <%-include('../partials/footer')%>